.new-year-card {
    background-image: url(https://thumbs.gfycat.com/AngryPoorAmericanbobtail-max-1mb.gif);
    font-size: 20px;
    font-style: initial;
    color: rgb(0, 0, 0);
    background-size: 100%;
}
.new-year-card p {
    font-family: 'Fredoka One', cursive;
}
.new-year-card img {

}
.from {
    color: rgb(0, 0, 0);
}
